<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bijuterii</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="header">
    <h1 class="dashboard-title">Categorie Bijuterii</h1>
    <p class="description">Alege tipul de bijuterie pe care îl dorești să-l vezi.</p>
    <div class="nav">
        <ul>
            <li><a href="/">Acasă</a></li>
            <li><a href="/bijuterii">Bijuterii</a></li>
            <li><a href="#">Coșul meu</a></li>
            <li><a href="#">Contul meu</a></li>
            <li><a href="#">Logare</a></li>
        </ul>
    </div>
</div>
<div class="main-content">
    <h2>Tipuri de bijuterii</h2>
    <div class="jewelry-categories">
        <a href="/bijuterii/inele" class="category">Inele</a>
        <a href="/bijuterii/lantisoare" class="category">Lanțisoare</a>
        <a href="/bijuterii/bratari" class="category">Brățări</a>
        <a href="/bijuterii/cercei" class="category">Cercei</a>

    </div>
</div>
</body>
</html>
